@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

@font-face {
  font-family: Outfit;
  src: url(../../../fonts/Outfit-SemiBold.ttf);
}

 /* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

html{
  scroll-behavior: smooth;
}

/* NAVBAR CSS START */
.nav {
  height: 80px;
  width: 100%;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  /* border-radius: 5px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.nav img:first-of-type{
  height: 80px;
  width: 80px;
  /* top: 20px;
  position: relative;
  left: 135px; */
}
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: rgb(17, 17, 78);
    font-weight: 800;
    padding: 10px 10px 10px 10px;
    /* margin-left: 140px; */
    width: 95%;
    top: -5px;
    position: relative;
    text-align: left;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav>.nav-links {
    display: flex;
    margin-left: auto;
    font-size: 25px;
    margin-top: 12px;
    /* font-weight: 600; */
  }
  
  .nav > .nav-links > a {
    display: flex;
    padding: 5px;
    text-decoration: none;
    color: #0f1141;
    margin: 3px;
    margin-right: 15px;
    font-weight: 550;
    justify-content: space-between;
    /* padding-top: 11px; */
  }
  
  .nav > .nav-links > a:hover {
    background-color: #e25504;
    border-radius: 5px;
    max-height: 50px;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {

    .nav {
      height: 110px;
      width: 100%;
      background: white;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 100;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }

    .nav img:first-of-type{
      top: 40px;
      left: 10px;
    }

    .nav > .nav-header {
      display: inline;
    }

    .nav > .nav-header > .nav-title {
      display: inline-block;
      font-size: 24px;
      color: #0f1141;
      font-weight: 700;
      /* padding: 10px 10px 10px 10px; */
      margin-left: 60px;
      width: 80%;
      position: relative;
      top: -35px;
    }

    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  @media (max-width:400px) {

    .nav {
      height: 80px;
      width: 100%;
      background: white;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 100;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }

    .nav img:first-of-type{
      left: 10px;
      top: 30%;
    }

    .nav > .nav-header {
      display: inline;
      position: relative;
      top: 50%;
      left: -10%;
    }
    
    .nav > .nav-header > .nav-title {
      display: inline-block;
      font-size: 22px;
      color: #0f1141;
      font-weight: 700;
      /* padding: 10px 10px 10px 10px; */
      margin-left: 20%;
      width: 80%;
      position: relative;
      top: -60%;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 25px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 30px;
      height: 30px;
      padding: 8px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 15px;
      height: 5px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 40%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 30px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 50%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(50vh - 25px);
      overflow-y: auto;
    }
  }

  /* NAVBAR CSS END */

  /* CSS FOR DROPDOWN MENU START */

.top-left-top a:hover, .dropdown:hover .dropbtn {
  background-color: #e25504;
}

.dropbtn{
  /* position: relative;
  border: 0;
  opacity: 1;
  background: transparent;
  color: #0f1141;
  top: -4.5px;
  font-family: Outfit; */
  border: 0;
    color: #0F1141;
    margin-top: 0px;
    font: 21px Outfit;
    /* font-weight: 800; */
    opacity: 1;
    background: transparent;
    padding-bottom: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 20px; */
  right: -146px;
  top: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  padding-top: 2px;
  border-radius: 5px;
  width: 250px;
}

.dropdown-content-industries{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 20px; */
  right: -128px;
  top: 33px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  padding-top: 2px;
  border-radius: 5px;
  width: 250px;
}

.dropdown-content li {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
  list-style-type: none;
  font-weight: 550;
  font-size: 20px;
  margin: 3px;
}

.dropdown-content-industries li {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
  list-style-type: none;
  font-size: 20px;
  font-weight: 550;
  margin: 3px;
}

.dropdown-content li:hover{
  background-color: #e25504;
  border-radius: 3px;
  /* padding: 0; */
}

.dropdown-content-industries li:hover{
  background-color: #e25504;
  border-radius: 3px;
  /* padding: 0; */
}

/* div.dropdown-content li:before {
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 1;
  padding: 0;
} */

/* .dropdown-content li:hover:before {
  transform: scale(1);
  opacity: 0;
  padding: 0;
} */

.dropdown:hover .dropdown-content {
  display: block;
  /* padding: 0; */
}

.dropdown:hover .dropdown-content-industries {
  display: block;
  /* padding: 0; */
}

/* CSS FOR DROPDOWN MENU END */

/* HEADER Services CSS START */

.header_contact_us{
  position: relative;
  top: -100px;
  height: 130px;
  background: #0f1141;
  background-image: url('https://garantiwebdesign.com/wordpress/industry/wp-content/uploads/2022/10/header-industry-4.jpg');
  /* text-align: center; */
}

.header_contact_us h1{
  color: white;
  position: relative;
  top: 30%;
  font-size: 48px;
  margin-left: 170px;
  margin-top: 100px;
  margin-bottom: 50px;
}

@media (max-width:600px) {
  .header_contact_us{
    position: relative;
    top: -100px;
    height: 75px;
    background: #0f1141;
    background-image: url('https://garantiwebdesign.com/wordpress/industry/wp-content/uploads/2022/10/header-industry-4.jpg');
    /* text-align: center; */
  }
  .header_contact_us h1{
    color: white;
    position: relative;
    top: 12%;
    font-size: 45px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

@media (max-width:400px) {
  .header_contact_us{
    position: relative;
    top: -100px;
    height: 75px;
    background: #0f1141;
    background-image: url('https://garantiwebdesign.com/wordpress/industry/wp-content/uploads/2022/10/header-industry-4.jpg');
    /* text-align: center; */
  }
  .header_contact_us h1{
    color: white;
    position: relative;
    top: 25%;
    font-size: 25px;
    margin-left: 58px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

/* HEADER Services US CSS END */

.contact_us_6 * {
    font-family: Nunito, sans-serif;
    top: -100px;
  }
  
  .contact_us_6 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .contact_us_6 .responsive-cell-block {
    min-height: 75px;
  }
  
  .contact_us_6 input:focus,
  .contact_us_6 textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_6 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .contact_us_6 .responsive-container-block {
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .contact_us_6 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    width: 35%;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #0f1141;
    position: absolute;
    height: 950px;
    right: 0px;
  }
  
  .contact_us_6 .responsive-container-block.container {
    position: relative;
    min-height: 75px;
    flex-direction: row;
    /* z-index: 2; */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    /* padding-right: 30px; */
    padding-bottom: 0px;
    /* padding-left: 30px; */
    max-width: 1320px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .contact_us_6 .container-block.form-wrapper {
    background-color: white;
    max-width: 450px;
    text-align: center;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 90px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .contact_us_6 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
    color: #0f1141;
  }
  
  .contact_us_6 .text-blk.contactus-subhead {
    color: #9c9c9c;
    width: 300px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    display: none;
  }
  
  .contact_us_6 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-height: 50px;
  }
  
  .contact_us_6 .input {
    width: 100%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
  }
  
  .contact_us_6 .textinput {
    width: 98%;
    min-height: 100px;
    max-height: 100px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
  }
  
  .contact_us_6 .submit-btn {
    width: 98%;
    background-color: #0f1141;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  
  .contact_us_6 .form-box {
    /* z-index: 2; */
    margin-top: 0px;
    margin-right: 48px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .contact_us_6 .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    /* color: #9c9c9c; */
    color: #0f1141;
    font-weight: bold;
  }
  
  .contact_us_6 ::placeholder {
    color: #dadada;
  }
  
  .contact_us_6 .mob-text {
    display: block;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
  
  .contact_us_6 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .contact_us_6 .text-blk.contactus-subhead.color {
    color: white;
  }
  
  .contact_us_6 .map-box {
    max-width: 1000px;
    max-height: 560px;
    width: 100%;
    height: 560px;
    background-color: #d9d9d9;
    /* background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc23.png"); */
    background-image: url('../../../assets/test_map.png');
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
  }
  
  .contact_us_6 .map-part {
    position: relative;
    width: 100%;
    height: 100%;
    top: 10px;
  }
  
  .contact_us_6 .text-blk.map-contactus-head {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: #0f1141;
  }
  
  .contact_us_6 .text-blk.map-contactus-subhead {
    max-width: 600px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 30px;
  }
  
  .contact_us_6 .social-media-links.mob {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 230px;
    display: flex;
    justify-content: flex-start;
  }
  
  .contact_us_6 .link-img {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .contact_us_6 .link-img.image-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .contact_us_6 .social-icon-link {
    margin: 0 25px 0 0;
    padding: 0 0 0 0;
  }
  
  @media (max-width: 1024px) {
    .contact_us_6 .responsive-container-block.container {
      justify-content: center;
    }
  
    .contact_us_6 .map-box {
      position: absolute;
      top: 0px;
      max-height: 320px;
    }
  
    .contact_us_6 .map-box {
      max-width: 100%;
      width: 100%;
    }
  
    .contact_us_6 .responsive-container-block.container {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_6 .map-part {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .mob-text {
      display: block;
    }
  
    .contact_us_6 .form-box {
      margin-top: 200px;
      margin-right: 60px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  
    .contact_us_6 .link-img {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      display: flex;
      justify-content: space-evenly;
    }
  
    .contact_us_6 .social-media-links.mob {
      justify-content: space-evenly;
    }
  
    .contact_us_6 .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
      text-align: center;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }
  
    .contact_us_6 .text-blk.contactus-subhead {
      display: block;
    }
  
    .contact_us_6 .mob-text {
      text-align: center;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .responsive-container-block.container {
      flex-wrap: wrap;
    }
  
    .contact_us_6 .form-box {
      margin-top: 200px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .contact_us_6 .submit-btn {
      width: 100%;
    }
  
    .contact_us_6 .input {
      width: 100%;
    }
  
    .contact_us_6 .textinput {
      width: 100%;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .text-blk.input-title {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_6 .form-box {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .contact_us_6 .mob-text {
      display: block;
    }
  
    .contact_us_6 .responsive-container-block.container {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_6 .form-box {
      margin-top: 200px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .form-box {
      /* margin-top: 220px; */
      margin-top: 20px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .form-box {
      /* margin-top: 220px; */
      margin-top: 20px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_6 .text-blk.contactus-head {
      font-size: 32px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 500px) {
    .contact_us_6 .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .contact_us_6 .container-block.form-wrapper {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_6 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
  
    .contact_us_6 .responsive-container-block {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 35px;
      margin-left: 0px;
    }
  
    .contact_us_6 .text-blk.input-title {
      font-size: 12px;
    }
  
    .contact_us_6 .text-blk.contactus-head {
      font-size: 26px;
      line-height: 35px;
    }
  
    .contact_us_6 .input {
      height: 45px;
    }
  }

  /* RESPONSIVE CSS STARTS */

  *,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

/* RESPONSIVE CSS ENDS */

/* NEW FOOTER CSS START */

ul {
    margin: 0px;
    padding: 0px;
  }
  .footer-section {
  background: #0f1141;
  position: relative;
  height: 550px;
  padding-left: 40px;
  padding-right: 40px;
  }
  .footer-cta {
  border-bottom: 1px solid #373636;
  padding-left: 160px;
  padding-right: 180px;
  }
  
  .single-cta{
    text-align: center;
  }
  
  .single-cta i {
  color: #e25504;
  font-size: 30px;
  position: relative;
  /* float: left; */
  margin-bottom: 8px;
  margin-left: 60px;
  top: -10px;
  text-align: center;
  cursor: pointer;
  }

  .single-cta-mail{
    text-align: center;
  }
  
  .single-cta-mail i {
  color: #e25504;
  font-size: 30px;
  position: relative;
  /* float: left; */
  margin-bottom: 8px;
  margin-left: 60px;
  top: -35px;
  text-align: center;
  }

  .cta-text {
  padding-left: 15px;
  display: inline-block;
  }
  .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  }
  .cta-text h6 {
  color: #e0dede;
  font-size: 15px;
  }
  .cta-text span {
    color: #e0dede;
    font-size: 15px;
  }

  .cta-text-email {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text-email h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text-email h6 {
    color: #e0dede;
    font-size: 15px;
  }
  .cta-text-email span {
      color: #e0dede;
      font-size: 15px;
  }
  .footer-content {
  position: relative;
  z-index: 2;
  }
  .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
  }
  .footer-logo {
  margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
  margin-bottom: 14px;
  margin-left: 20px;
  font-size: 14px;
  color: #e0dede;
  line-height: 28px;
  text-align: left;
  }
  
  .footer-text-new p {
    margin-bottom: 14px;
    /* margin-left: 20px; */
    font-size: 14px;
    color: #e0dede;
    line-height: 28px;
    text-align: left;
  }
  
  .footer-social-icon{
    text-align: center;
  }
  
  .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  }
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  }
  .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #DD4B39;
  }
  .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  text-align: left;
  padding-left: 30px;
  }
  
  .footer-widget-heading-new h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    text-align: left;
  }
  
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    /* left: 215px; */
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #e25504;
  }
  
  .footer-widget-heading-new h3::before {
    content: "";
    position: absolute;
    /* left: 215px; */
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #e25504;
    }
  
  .footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
  text-align: left;
  padding-left: 30px;
  }
  .footer-widget ul li a:hover{
  color: #e25504;
  }
  .footer-widget ul li a {
  color: #fcfafa;
  text-transform: capitalize;
  }
  .subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: White;
  border: 1px solid #2E2E2E;
  color: #2E2E2E;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #e25504;
    padding: 13px 20px;
    border: 1px solid #e25504;
    top: 1px;
  }
  .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
  }
  .row_footer{
    text-align: center;
  }
  .copyright-area{
  background: #202020;
  padding: 25px 0;
  width: 100%;
  }
  .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  }
  .copyright-text p a{
  color: #e25504;
  }
  .footer-menu li {
  display: inline-block;
  margin-left: 20px;
  }
  .footer-menu li:hover a{
  color: #e25504;
  }
  .footer-menu li a {
  font-size: 14px;
  color: #878787;
  }

  @media (max-width:600px){

    .footer-section {
      /* background: #0f1141;
      position: relative; */
      height: 195vh;
      /* padding-left: 40px;
      padding-right: 40px; */
      }

    .footer-cta {
      border-bottom: 1px solid #373636;
      padding-left: 80px;
      padding-right: 180px;
    }
    .single-cta{
      margin-left: 20px;
    }
    .single-cta-mail{
      margin-left: 20px;
    }
    .single-cta-mail i {
      margin-top: 20px;
    }
    .cta-text{
      /* margin-left: 20px; */
      padding-left: 10px;
      margin-bottom: 30px;
    }
    .cta-text span{
      font-size: 10px;
      display:block;
      width: 120px;
    }
    .cta-text-email {
      padding-left: 5px;
      position: relative;
      top: -20px;
      display: inline-block;
    }
    
    .cta-text-email h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    .cta-text-email h6 {
      color: #e0dede;
      font-size: 10px;
    }
    .cta-text-email span {
        color: #e0dede;
        font-size: 15px;
    }

    .copyright-area{
      background: #202020;
      padding: 25px 0;
      width: 100%;
      position: relative;
      top: 860px;
      opacity: 100;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
    }
    .copyright-text p a{
      color: #e25504;
    }
    .footer-widget{
      margin-top: 30px;
    }
    .footer-widget-heading{
      position: relative;
      left: -30px;
    }
  }

  @media (max-width:400px){

    .footer-section {
      /* background: #0f1141;
      position: relative; */
      height: 195vh;
      /* padding-left: 40px;
      padding-right: 40px; */
      }

    .footer-cta {
      border-bottom: 1px solid #373636;
      padding-left: 60px;
      padding-right: 180px;
    }
    .single-cta{
      margin-left: 20px;
    }
    .single-cta-mail{
      margin-left: 20px;
    }
    .single-cta-mail i {
      margin-top: 20px;
    }
    .cta-text{
      /* margin-left: 20px; */
      padding-left: 10px;
      margin-bottom: 30px;
    }
    .cta-text span{
      font-size: 10px;
      display:block;
      width: 120px;
    }
    .cta-text-email {
      padding-left: 5px;
      position: relative;
      top: -20px;
      display: inline-block;
    }
    
    .cta-text-email h4 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    .cta-text-email h6 {
      color: #e0dede;
      font-size: 10px;
    }
    .cta-text-email span {
        color: #e0dede;
        font-size: 15px;
    }

    .copyright-area{
      background: #202020;
      padding: 25px 0;
      width: 100%;
      position: relative;
      top: 860px;
      opacity: 100;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
    }
    .copyright-text p a{
      color: #e25504;
    }
    .footer-widget{
      margin-top: 30px;
    }
    .footer-widget-heading{
      position: relative;
      left: -30px;
    }
  }
  
  /* NEW FOOTER CSS END */

/* PAGE LOAD ANIMATION START*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* PAGE LOAD ANIMATION END*/

/* SHAKE ANIMATION FOR MAP ICON START */

/* http://waitanimate.wstone.io/#!/ */
.shake {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
   0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}

/* SHAKE ANIMATION FOR MAP ICON END */

/* HAMBURGER MENU STYLE STARTS */

    /* Menu Icon */
    .hamb{
      cursor: pointer;
      float: right;
      padding: 40px 20px;
      right: -60px;
      position: relative;
    }/* Style label tag */
    
    .hamb-line {
      background: black;
      display: block;
      height: 2px;
      position: relative;
      width: 24px;
    
    } /* Style span tag */
    
    .hamb-line::before,
    .hamb-line::after{
      background: black;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
    .hamb-line::before{
      top: 5px;
    }
    .hamb-line::after{
      top: -5px;
    }
    
    .side-menu {
      display: none;
    } /* Hide checkbox */
    
    /* Toggle menu icon */
    .side-menu:checked ~ .hamb + .nav-links{
      top: -20px;
      position: relative;
      height: 700px;
      background: white;
      width: 375px;
      margin-left: 0;
      text-align: left;
      opacity: 50;
    }
    .side-menu:checked ~ .hamb + .nav-links > a{
      width: 350px;
    }
    .side-menu:checked ~ .hamb + .nav-links > a > .dropbtn{
      padding-bottom: 0;
    }
    .side-menu:checked ~ .hamb + .nav-links > a > .dropbtn-industries{
      padding-bottom: 0;
    }
    .side-menu:checked ~ .hamb + .nav-links > a > .dropdown-content{
      /* opacity: 1; */
      top: 20px;
      left: 100px;
      width: 250px;
    }
    .side-menu:checked ~ .hamb + .nav-links > a > .dropdown-content-industries{
      /* opacity: 1; */
      top: 20px;
      left: 100px;
      width: 250px;
    }
    .side-menu:checked ~ .hamb .hamb-line {
      background: transparent;
    }
    .side-menu:checked ~ .hamb .hamb-line::before {
      transform: rotate(-45deg);
      top:0;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
      transform: rotate(45deg);
      top:0;
    }
    
    /* Responsiveness Starts*/
    @media (min-width: 1000px) {
      /* .nav{
          max-height: none;
          top: 0;
          position: relative;
          float: right;
          width: fit-content;
          background-color: transparent;
      } */
      .menu li{
          float: left;
      }
      .menu a:hover{
          background-color: transparent;
          color: var(--gray);
    
      }
    
      .hamb{
          display: none;
      }
    }
    
    /* Responsiveness Ends*/
    
    /* HAMBURGER MENU STYLES ENDS */

    /* RESPONSIVE CSS STARTS */

@media (max-width:400px) {
  .nav {
    /* height: 10%; */
    width: 100%;
    height: 80px;
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

  .nav img:first-of-type{
    left: 2%;
    top: 30%;
  }

  .nav > .nav-header {
    display: inline;
    position: relative;
    top: 50%;
    left: -10%;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 15px;
    color: #0f1141;
    font-weight: 700;
    /* padding: 10px 10px 10px 10px; */
    margin-left: 25%;
    width: 80%;
    position: relative;
    top: -40%;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 25px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 8px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 40%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 30px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 50%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(50vh - 25px);
    overflow-y: auto;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: -10px;
    opacity: 100;
    top: 35px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    margin-top: 10px;
    padding-top: 2px;
    border-radius: 5px;
    width: 250px;
  }

  .header_contact_us{
    position: relative;
    top: -100px;
    height: 75px;
    background: #0f1141;
    width: 100%;
    background-image: url('https://garantiwebdesign.com/wordpress/industry/wp-content/uploads/2022/10/header-industry-4.jpg');
    /* text-align: center; */
  }
  .header_contact_us h1{
    color: white;
    position: relative;
    top: 27%;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

}

@media (max-width:500px) and (min-width:401px) {
  .nav {
    /* height: 10%; */
    width: 100%;
    background: white;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    height: 80px;
    z-index: 100;
    /* border-radius: 5px; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  }

  .nav img:first-of-type {
    left: 2%;
    top: 20%;
    height: 50px;
    width: 50px;
    position: relative;
  }

  .nav>.nav-header {
    display: inline;
    position: relative;
    top: 43%;
    left: -50px;
  }

  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 18px;
    color: #0f1141;
    font-weight: 700;
    /* padding: 10px 10px 10px 10px; */
    margin-left: 25%;
    width: 80%;
    position: relative;
    top: -40%;
    text-align: left;
  }

  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 25px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 8px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    left: 20px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 50%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(50vh - 25px);
    overflow-y: auto;
  }

  .hamb{
    right: 10px;
    position: fixed;
    top: 0px;
  }

  .side-menu:checked ~ .hamb + .nav-links{
    width: 90%;
    top: 10px;
    height: 720px;
    left: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .side-menu:checked ~ .hamb + .nav-links > a > .dropdown-content{
    /* opacity: 1; */
    top: 75px;
    left: 150px;
  }

  .side-menu:checked ~ .hamb + .nav-links > a > .dropdown-content-industries{
    overflow: auto;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: -10px;
    opacity: 100;
    top: 35px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    margin-top: 10px;
    padding-top: 2px;
    border-radius: 5px;
    width: 250px;
  }

  .header_contact_us{
    position: relative;
    top: -100px;
    height: 75px;
    background: #0f1141;
    width: 100%;
    background-image: url('https://garantiwebdesign.com/wordpress/industry/wp-content/uploads/2022/10/header-industry-4.jpg');
    /* text-align: center; */
  }
  .header_contact_us h1{
    color: white;
    position: relative;
    top: 27%;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .map-box{
    margin: 5px;
  }

  .row-footer{
    display: block;
    position: relative;
    padding-top: 10px;
    margin-left: 0;
  }

  .row-footer-new{
    display: block;
    position: relative;
    left: -30px;
  }

  .footer-section {
    height: 1300px;
  }

  .footer-cta {
    border-bottom: 1px solid #373636;
    padding-left: 0;
    padding-right: 0;
  }
  .single-cta{
    margin-left: 0;
  }
  .single-cta i{
    top: 10px;
    margin-left: 0;
    width: 100%;
  }
  .single-cta-mail{
    margin-left: 0;
  }
  .single-cta-mail i {
    top: 10px;
    margin-left: 0;
    width: 100%;
  }
  .cta-text{
    /* margin-left: 20px; */
    padding-left: 0;
    margin-bottom: 30px;
    position: relative;
    /* display: inline-block; */
    top: 10px;
    width: 100%;
  }
  .cta-text span{
    font-size: 10px;
    display:block;
    width: 100%;
  }
  .cta-text-email {
    /* margin-left: 20px; */
    padding-left: 0;
    margin-bottom: 30px;
    position: relative;
    /* display: inline-block; */
    top: 10px;
    width: 100%;
    text-align: center;
  }
  
  .cta-text-email h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text-email h6 {
    color: #e0dede;
    font-size: 10px;
  }
  .cta-text-email span {
      color: #e0dede;
      font-size: 15px;
  }

  .mailto{
    width: 100%!Important;
  }

  /* .subscribe-form button{
    top: -53px !important;
    right: -220px !important;
  } */

  .copyright-area{
    background: #202020;
    padding: 25px 0;
    width: 100%;
    position: relative;
    top: 780px;
    opacity: 100;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: #e25504;
  }
  .footer-widget{
    margin-top: 30px;
  }
  .footer-widget-heading{
    position: relative;
    left: -30px;
  }
}

@media (max-width:600px) and (min-width:501px) {
  .nav {
    /* height: 10%; */
    width: 100%;
    height: 80px;
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

  .nav img:first-of-type{
    left: 2%;
    top: 30%;
  }

  .nav > .nav-header {
    display: inline;
    position: relative;
    top: 50%;
    left: -5%;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 15px;
    color: #0f1141;
    font-weight: 700;
    /* padding: 10px 10px 10px 10px; */
    margin-left: 25%;
    width: 80%;
    position: relative;
    top: -40%;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 25px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 8px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 40%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 30px;
    left: 20px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 50%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(50vh - 25px);
    overflow-y: auto;
  }

  .hamb{
    right: -35%;
  }

  .side-menu:checked ~ .hamb + .nav-links{
    width: 440px;
  }

  .side-menu:checked ~ .hamb + .nav-links > a > .dropdown-content{
    /* opacity: 1; */
    top: 75px;
    left: 150px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: -10px;
    opacity: 100;
    top: 35px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    margin-top: 10px;
    padding-top: 2px;
    border-radius: 5px;
    width: 250px;
  }

  .header_contact_us{
    position: relative;
    top: -100px;
    height: 75px;
    background: #0f1141;
    width: 100%;
    background-image: url('https://garantiwebdesign.com/wordpress/industry/wp-content/uploads/2022/10/header-industry-4.jpg');
    /* text-align: center; */
  }
  .header_contact_us h1{
    color: white;
    position: relative;
    top: 27%;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .map-box{
    margin: 5px;
  }

  .footer-section {
    /* background: #0f1141; */
    position: relative;
    height: 195vh;
    top: 65px;
    /* padding-left: 40px;
    padding-right: 40px; */
    }

  .footer-cta {
    border-bottom: 1px solid #373636;
    padding-left: 90px;
    padding-right: 180px;
  }
  .single-cta{
    margin-left: 20px;
  }
  .single-cta-mail{
    margin-left: 20px;
  }
  .single-cta-mail i {
    margin-top: 20px;
  }
  .cta-text{
    /* margin-left: 20px; */
    padding-left: 50px;
    margin-bottom: 30px;
  }
  .cta-text span{
    font-size: 10px;
    display:block;
    width: 120px;
  }
  .cta-text-email {
    padding-left: 40px;
    position: relative;
    top: -20px;
    display: inline-block;
  }
  
  .cta-text-email h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text-email h6 {
    color: #e0dede;
    font-size: 10px;
  }
  .cta-text-email span {
      color: #e0dede;
      font-size: 15px;
  }

  .copyright-area{
    background: #202020;
    padding: 25px 0;
    width: 100%;
    position: relative;
    top: 860px;
    opacity: 100;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a{
    color: #e25504;
  }
  .footer-widget{
    margin-top: 30px;
  }
  .footer-widget-heading{
    position: relative;
    left: -30px;
  }
}

@media (min-width:1301px) and ( max-width:1400px) {

  .hamb{
    /* right: -25%; */
    display: none;
  }

  /* .nav > .nav-links{
    margin-left: auto;
    top: -85px!Important;
    position: relative!Important;
  } */

  .nav img:first-of-type{
    height: 80px;
    width: 6%;
    top: 0;
    position: relative;
    left: 0;
  }

  .nav > .nav-header{
    left: 0;
  }

  .nav > .nav-header > .nav-title{
    font-size: 26px;
    font-weight: 800;
    margin-left: 0;
    width: 95%;
    margin-top: 0;
    padding: 10px!Important;
    position: relative;
    top: -7px;
    text-align: left;
  }

  .nav > .nav-links{
    margin-left: auto;
    margin-top: 12px;
    font-size: 25px;
  }

  .nav > .nav-links > a{
    padding-top: 7px;
  }

  .side-menu:checked ~ .hamb + .container_new{
    width: 110%;
    border-radius: 5px;
    top: 80px;
  }

  .side-menu:checked ~ .hamb + .container_new > a{
    width: 230px;
  }

  .side-menu:checked ~ .hamb + .container_new > a > .dropdown-content{
    left: 280px;
  }

  .side-menu:checked ~ .hamb + .container_new > a > .dropdown-content-industries{
    left: 280px;
  }

  .dropdown-content{
    right: -146px;
  }

  .dropdown-content-industries{
    right: -128px;
  }

  .header_contact_us h1{
    margin-left: 0;
    text-align: center;
    top: 25%;
  }

  .footer-section {
    height: 80vh;
  }

  .single-cta i{
    margin-left: 0;
    top: -10px;
  }

  .footer-cta {
    padding-left: 0;
    padding-right: 80px;
  }

  .subscribe-form button{
    top: 0!Important;
    right: 0!Important;
  }

  .copyright-area{
    top: 110px;
    position: relative;
  }
}

/* RESPONSIVE CSS ENDS */

.mailto{
  display: block;
  width: 100px;
  height: 20px;
  color: white;
}