.carousel-div{
    position: relative;
    margin: auto;
    /* text-align: center; */
    width: 100%;
    height: 500px;
    right: -100px;
    /* box-shadow: 0 8px 16px #dce1e1; */
}

.carousel-div img{
    display: none;
    border-radius: 10px;
}

.carousel-div img.image-active{
    display: block;
    max-width: 700px;
    height: 500px;
    /* margin-left: 1%; */
}

/* dots/indicators */
.carousel-dot-container{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

/* image transition fade effect */
.fade{
    animation-name: fade;
    animation-duration: 8.5s;
}

@keyframes fade{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}

.btn-carousel{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev{
    left: 0;
}

.btn-next{
    right: 0;
}

.icon-carousel{
    color: #fff;
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover{
    color: #fff;
    opacity: 0.9;
}

.icon-carousel:active{
    opacity: 0.5;
}

.icon-prev{
    font-size: 35px;
}

.icon-next{
    font-size: 35px;
}

/* RESPONSIVE CSS STARTS */

@media (max-width:400px) {

    .carousel-div{
        width: auto;
        right: 180px;
    }
}

@media (min-width:401px) and (max-width:500px) {

    .carousel-div{
        width: 90%;
        right: 0;
        height: 350px;
    }

    .carousel-div img.image-active{
        display: block;
        max-width: 100%;
        width: 100%;
        height: 300px;
        /* margin-left: 1%; */
    }
}

@media (min-width:501px) and (max-width:600px) {

    .carousel-div{
        width: auto;
        right: 180px;
    }
}

@media (min-width:601px) and (max-width:700px) {

    .carousel-div{
        width: auto;
        right: 3.5%;
    }
}

@media (min-width:701px) and (max-width:800px) {

    .carousel-div{
        width: auto;
        right: 3.5%;
    }
}

@media (min-width:801px) and (max-width:900px) {

    .carousel-div{
        width: auto;
        right: 3.5%;
    }
}

@media (min-width:901px) and (max-width:1000px) {

    .carousel-div{
        width: 40%;
        right: -150px;
        top: -365px;
    }

    .carousel-div img.image-active{
        display: block;
        max-width: 400px;
        height: 300px;
        /* margin-left: 1%; */
    }
}

@media (min-width:1301px) and ( max-width:1400px) {

    .carousel-div{
        width: 100%;
        height: 500px;
        right: 0;
        /* top: -325px;
        height: 300px; */
    }

    .carousel-div img.image-active{
        display: block;
        max-width: 90%;
        height: 500px;
        top: 10px;
        position: relative;
    }
}

@media (min-width:1401px) and (max-width:1600px){

    .carousel-div{
        width: 100%;
        /* left: 20%; */
        height: 500px;
        right: 0;
        /* top: -325px;
        height: 300px; */
    }

    .carousel-div img.image-active{
        display: block;
        max-width: 700px;
        height: 500px;
        width: 700px;
        top: 10px;
        position: relative;
    }
}

@media (min-width:1601px) and (max-width:1700px){

    .carousel-div{
        width: 100%;
        /* left: 20%; */
        height: 550px;
        right: -20px;
        /* top: -325px;
        height: 300px; */
    }

    .carousel-div img.image-active{
        display: block;
        max-width: 700px;
        height: 550px;
        width: 700px;
        top: 10px;
        position: relative;
    }
}

/* RESPONSIVE CSS ENDS */