<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service-Details</title>
</head>
<body>
    <div class="nav" id="nav">
        <!-- <input type="checkbox" id="nav-check"> -->
        <img src="../../../assets/Foundation_logo_nobg.png">
        <div class="nav-header">
          <div class="nav-title">
            FOUNDATION CONSULTANTS
          </div>
        </div>
        <!-- <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div> -->
  
        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        
        <div class="nav-links">
          <a href="/home">Home</a>
          <a alt="SERVICES" class="dropdown" type="checkbox">
            <!-- <button class="dropbtn">Services</button> -->Services
            <div class="dropdown-content">
              <li *ngFor="let service of services" (click)="navigate(service.subject);">{{service.subject}}</li>
            </div>
          </a>
          <a alt="INDUSTRIES" class="dropdown" type="checkbox">
            <!-- <button class="dropbtn-industries">Industries</button> -->Industries
            <div class="dropdown-content-industries">
                <li *ngFor="let industry of industries" (click)="navigate_industry(industry.subject);">{{industry.subject}}</li>
            </div>
          </a>
          <!-- <a href="/aboutUs">About Us</a> -->
          <!-- <a href="https://jsfiddle.net/user/jo_Geek/">Career</a> -->
          <a href="/aboutUs" alt="ABOUT US">About us</a>
          <a href="/contactUs" alt="CONTACT US">Contact Us</a>
        </div>
        
        <!-- Hamburger icon -->
        <!-- <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label> -->
      </div>
    <div class="header_services">
        <h1 class="Outfit">{{subject}}</h1>
    </div>
    <!-- <div class="product_details">
        <h2 style="margin-bottom: 50px; text-decoration: underline;">{{subject}}</h2>
        <div class="intro">
            <img src="../../../assets/BHEL.png">
            <p>{{subject_details}}</p>
        </div>
        <div class="description">
            <div class="description_details">
                <h3 *ngIf="subject !== 'Drone Survey' && subject !== 'Consulting Services'" style="text-align: left; margin-left: 40px;">Categories:</h3>
                <h3 style="text-align: left; margin-left: 40px; text-decoration: underline;" *ngIf="subject === 'Consulting Service'">Documentation:</h3>
                <p *ngIf="subject === 'Consulting Services'" style="margin-left: 40px;">Documentation is an integral part of consulting services, involving the creation and management of various documents to support client projects and engagements. Consultants compile reports, analysis, and recommendations in a structured and comprehensive manner, ensuring clear communication of findings and insights to clients. Documentation include;</p>
                <li *ngFor="let sub_subject of sub_subjects">{{sub_subject}}</li>
                <ul *ngFor="let documentation of documentations" style="margin-left: 40px;">{{documentation.title}}</ul>
            </div>
            <div class="description_img">
                <img src="../../../assets/BHEL.png">
            </div>
        </div>
    </div> -->
    <div class="service">
      <div class="Satify">
        <!-- <img src="../../../assets/CTS2.jpg"  style="height: 400px; width: 500px; margin-right: 80px;"> -->
        <img *ngIf="subject == 'Topographical Survey'" src="../../../assets/TS1.jpg">
        <img *ngIf="subject == 'Laboratory Testing'" src="../../../assets/LT_new4.jpeg">
        <img *ngIf="subject == 'Field Testing'" src="../../../assets/FT_new3.jpg">
        <img *ngIf="subject == 'Soil Investigation'" src="../../../assets/FT_new3.jpg">
        <img *ngIf="subject == 'Drone Survey'" src="../../../assets/DS_new1.jpg">
      </div>
      <div class="service_detail">
        <p data-aos="fade-left">For improving entire appeal of the house homeowners can opt for the renovation projects. Unique renovation can
          completely reform conventional designs into luxury one. If you have a dream of having a lavishing property, then
          considering remodeling services is perfect.
        </p>
        <ul style="margin-left: 40px;" data-aos="fade-left">
          <li>Based on your project, get only what's needed</li>
          <li>Cost effective, to secure construction process</li>
          <li>Premium quality. We always get the best people</li>
        </ul>
        <p style="margin-top: 20px;" data-aos="fade-left">Archivolt shares over fifteen years of industry-leading excellence with every client we meet. We offer general
          contracting, construction management, and design-build services to private and public companies for projects of all
          sizes.
        </p>
      </div>
    </div>
    <div class="service_images" *ngIf="subject == 'Topographical Survey'">
      <img src="../../../assets/TS2.jpg" data-aos="fade-left">
      <img src="../../../assets/TS3.jpg" data-aos="zoom-in">
      <img src="../../../assets/TS4.jpg" data-aos="fade-right" style="margin-right: 0;">
    </div>
    <div class="service_images" *ngIf="subject == 'Laboratory Testing'">
        <img src="../../../assets/LT_new1.png" data-aos="fade-left">
        <img src="../../../assets/LT_new2.jpg" loading="lazy" data-aos="zoom-in">
        <img src="../../../assets/LT_new3.jpg" loading="lazy" data-aos="fade-right" style="margin-right: 0;">
    </div>
    <div class="service_images" *ngIf="subject == 'Field Testing'">
        <img src="../../../assets/FT_new1.jpg" data-aos="fade-left">
        <img src="../../../assets/FT_new2.jpg" loading="lazy" data-aos="zoom-in">
        <img src="../../../assets/FT_new4.jpg" loading="lazy" data-aos="fade-right" style="margin-right: 0;">
    </div>
    <div class="service_images" *ngIf="subject == 'Soil Investigation'">
        <img src="../../../assets/SI_new2.jpg" data-aos="fade-left">
        <img src="../../../assets/SI_new3.jpg" loading="lazy" data-aos="zoom-in">
        <img src="../../../assets/SI_new4.jpeg" loading="lazy" data-aos="fade-right" style="margin-right: 0;">
    </div>
    <div class="service_images" *ngIf="subject == 'Drone Survey'">
        <img src="../../../assets/DS_new2.jpg" data-aos="fade-left">
        <img src="../../../assets/DS_new3.jpg" loading="lazy" data-aos="zoom-in">
        <img src="../../../assets/DS_new4.jpg" loading="lazy" data-aos="fade-right" style="margin-right: 0;">
    </div>
    <div class="service_benefits">
      
      <div class="service_benefits_detail"  data-aos="fade-right">
        <h5 style="color: white; text-align: left;">OUR SERVICE BENEFITS</h5>
        <h2 style="width: 300px; color: white;">EXPERIENCE INNOVATION THE PROFESSIONAL WAY</h2>
        <p>Our research phase is very important. We do our best to plan every possible outcome, which would affect the budget
          and time of finishing the project:
        </p>
        <ul style="margin-left: 30px;">
          <li>Based on your project, get only what's needed</li>
          <li>Cost effective, to secure construction process</li>
          <li>Premium quality. We always get the best people</li>
        </ul>
        <p style="margin-top: 20px;">Through this experience Warmhouse has acquired a high level of expertise in the design and realisation of high-profile
        and luxury schemes.
        </p>
      </div>
      <div class="quotation">
        <h1>Leave Your Number</h1>
        <h5>Let's Call You Back</h5>
        <form action="https://api.web3forms.com/submit" method="POST">

            <input type="hidden" name="access_key" value="0198704c-cd55-4639-8f4d-b5e8e3a98b1b">
            
            <label for="name">Name : </label>
            <input type="text" id="name" name="Name" placeholder="Your name..">

            <label for="name">Company Name : </label>
            <input type="text" id="company name" name="Company Name" placeholder="Company name..">
          
            <label for="email">Email : </label>
            <input type="email" id="email" name="Email" placeholder="Ex:- abc@gmail.com">
          
            <label for="ph_no">Phone No : </label>
            <input type="text" id="phone no" name="Phone No" placeholder="Ex:- +91-9087654321">

            <label for="name">WHAT DO YOU HAVE IN MIND ? </label>
            <input class = "details" type="text" id="details" name="Details" placeholder="Write Something.." style="height: 120px;">
          
            <input type="submit" value="Submit" class="submit-btn">
          </form>
      </div>
    </div>

  <!-- NEW FOOTER START -->

  <footer class="footer-section">
    <div class="container_new" style="height: 400px;">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt shake" (click)="openMap()"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>91/33 Tollygunge Road, Kolkata - 700033</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>98765432100</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta-mail">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text-email">
                            <h4>Mail us</h4>
                            <h6><a class="mailto" href="mailto:soumyadipd588@gmail.com"></a>info@foundationconsultants.in</h6>
                            <h6 style="margin-top: 5px; color: #e0dede;"><a class="mailto" href="mailto:soumyadipd588@gmail.com"></a>geotechnic_soil@yahoo.com</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <!-- <div class="footer-logo">
                            <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                        </div> -->
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                            elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a (click)="goToPartNextPage('industries-new')">Industries</a></li>
                            <!-- <li><a href="#">services</a></li> -->
                            <!-- <li><a href="#">portfolio</a></li> -->
                            <!-- <li><a href="#">Contact</a></li> -->
                            <li><a href="/aboutUs">About us</a></li>
                            <li><a (click)="goToPartNextPage('services')">Our Services</a></li>
                            <li><a (click)="goToPartAboutPage('expertTeam')">Expert Team</a></li>
                            <li><a href="/contactUs">Contact us</a></li>
                            <!-- <li><a href="#">Latest News</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading-new">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text-new mb-25">
                            <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="https://api.web3forms.com/submit" method="POST">
                                <input type="hidden" name="access_key" value="0198704c-cd55-4639-8f4d-b5e8e3a98b1b">
                                <input type="text" name="Subscriber Email Address" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <!-- <div class="container_new"> -->
            <div class="row_footer">
                <!-- <div class="col-xl-6 col-lg-6 text-center text-lg-left"> -->
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, All Right Reserved <a href="#">FOUNDATION CONSULTANTS</a></p>
                    </div>
                <!-- </div> -->
                <!-- <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
    </div>
    <!-- </div> -->
</footer>
</body>
</html>
